.views{
    display: grid;
    position: sticky;
    top: 0;
}
.views2 {
  display: grid;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  background: linear-gradient(#1FA0FF 0%,#12DAFB 50%, #A7FDCC 100%);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
  
  .navbar-logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-logo img {
    height: 30px;
    margin-right: 10px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    margin: 0 ;
    padding: 10px;
}
  
  .navbar-menu li {
    margin: 0 20px;
    position: relative;
  }
  
  .navbar-menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    color: rgb(15, 11, 11);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: rgb(161, 150, 150);
      text-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
}
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .navbar-icons a {
    color: black;
    margin-left: 15px;
    text-decoration: none;
  }
  
  /* Styles for dropdown menu */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    width: 150px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 1px 0;
    margin: 0;
    border-radius: 10px;
  }
  
  .dropdown-menu li {
    padding: 8px 15px;
  }
  
  .dropdown-menu li a {
    color: black;
    text-decoration: none;
  }
  
  .dropdown-menu li:hover {
    background-color: #e7e6e6;
    width: 100px;
    padding: 8px 15px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      font-size: 12px;
    }
    span {
      font-size: 14px;
    }
  
    .navbar-icons {
        margin-top: 10px;
    }
  }
  @media (max-width: 768px) {
    .branch-container {
      flex-direction: column;
      align-items: center;
    }

    .branch-card {
      width: 100%;
      max-width: 400px;
    }
  }
  body {
    display: flex;
    flex-direction: column;
    
    
}
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: white;
    .info {
      p {
        margin: 5px 0;
      }
    }

.footer, img {
    width: 5rem;
    height: 5rem;
}
  
    .links {
      display: flex;
  
      div {
        margin-right: 30px;
  
        h4 {
          margin-bottom: 10px;
        }
  
        ul {
          list-style: none;
          padding: 0;
          
  
          li {
            margin-bottom: 5px;
            padding-bottom: 10px; 
          }
  
          a {
            color: white;
            text-decoration: none;
            transition: color 0.3s;
  
            &:hover {
              color: gray;
            }
          }
        }
      }
    }
  }
.social-media a{
    color: rgb(255, 111, 0);
    font-style: italic;
    text-decoration: none;
    margin-right: 10px;
  }
  
.slider-screen {
  display: flex;
  justify-content: center;
  border: #000000 1px solid;
}
.slider-background {
    width: 100% ;
    height: 800px; 
    background-size: cover;
    animation-name: slider;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes slider {
  0% { background-image: url('/assets/1.png'); }
  30% { background-image: url('/assets/2.png'); }
  50% { background-image: url('/assets/3.jpg'); }
  80% { background-image: url('/assets/4.jpg'); }
  100% { background-image: url('/assets/5.png'); }
}

.cctv{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.screen-cctv {
  width: 100%;
}
.screen-cctv img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  filter: grayscale(100%);
}

.screen-cctv img:hover {
  filter: grayscale(0%);
}

.card-img-1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  }
.card-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px;
  }
.card-img img {
  border: #000000 1px solid;
  flex: 1;
  width: 290px;
  height: 380px;
  object-fit: cover;
  cursor: pointer;
  
}
.card-img img:hover {
  flex: 30;
}
.design-img{
  display: flex;
  justify-content: center;
  padding: 10px;
  background:
  linear-gradient(80deg, #FFCC70, #C850C0, #4158D0);
}
.design-img img a {
  width: 50%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.design-img img:hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

  
