<div class="screen">
  <nav>
  <div class="logo">
      <a href="#"><img src="assets/logo-krabi.png" alt="Logo"></a>
    </div>
    <div #homeSection id="home-section" class="section"></div>
      <ul>
          <li><a href="/header">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/service">Service</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
          <div class="account">
          <a href="/login">
            <i class="fa-regular fa-user"></i>
          </a>
      </div>
      </ul>
    </nav>
  <br>
    <h1 
    style="display: flex; justify-content: center; font-size: 18px;" 
    >ระบบออกแบบเสื้อปักสกรีนวิสัยทัศน์ 3 มิติ</h1>
    <p style="display: flex; justify-content: center; font-size: 14px;"
    >3D vision screen embroidery shirt design system</p>
    <div class="cctv">
      <div class="screen-cctv">
        <img src="assets/team.jpg" alt="">
        <img src="assets/team1.jpg" alt="">
        <img src="assets/team2.jpg" alt="">
        <img src="assets/team3.jpg" alt="">
        <img src="assets/team5.jpg" alt="">
      </div>
    </div>
    <div class="views2">
      <div class="slider-screen">
      <div class="slider-background">
      </div>
    </div>
    </div>
  <div class="screen1">
    <div class="img1">
      <img src="assets/LOGO-RUTS-10.png" alt="">
  </div>
  <button class="scroll-button " (click)="scrollToSection4()"><i class="fa-solid fa-arrow-up-to-line">ขึ้นข้างบน</i></button>
  </div>
      <div class="footer">
          <div class="footer-logo">
          <img src="assets/logo-krabi.png" alt="">
          </div>
          <div class="footer-content">
          <h3>3D vision screen embroidery shirt design system</h3>
          <p>ระบบออกแบบเสื้อปักสกรีนวิสัยทัศน์ 3 มิติ</p>
          </div>
          <div class="footer-content">
          <h3>Address</h3>
          <p>167/11 ถนน กระบี่ ตำบล ปากน้ำ อำเภอเมืองกระบี่ กระบี่ 81000</p>
          </div>
          <div class="footer-content">
          <h3>Contact</h3>
          <p>Phone: 086-279-8798</p>
          <p>Email: nattaphat.lมีแอดrmutsvmail.com</p>
          <div class="i-con">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
          </div>
  </div>
  </div>