<div class="views">
<footer class="footer">
    <div class="info">
    
      <p>ระบบออกแบบเสื้อปักสกรีนวิสัยทัศน์ 3 มิติ</p>
      <p>3D vision screen embroidery shirt design system</p>
    </div>
    <div class="links">
      <div>
        <h4>3D vision</h4>
        <ul>
          <li><a href="/accoust">บัญชีของฉัน</a></li>
          <li><a href="/design">การออกแบบ</a></li>
          <li><a href="/hanpuk">งานปัก</a></li>
          <li><a href="/hanscreen">งานสกรีน</a></li>
          <li><a href="#">บทความ</a></li>
          <li><a href="/about">เกี่ยวกับเรา</a></li>
          <li><a href="/contact">ติดต่อเรา</a></li>
        </ul>
      </div>
      <div>
        <h4>สินค้า</h4>
        <ul>
          <li><a href="/tshirt-yud">เสื้อยืด</a></li>
          <li><a href="/tshirt-polo">Polo</a></li>
        </ul>
      </div>
    </div>
  </footer>
  </div>