<div class="screen">
  <nav>
  <div class="logo">
      <a href="#"><img src="assets/logo-krabi.png" alt="Logo"></a>
    </div>
    <div #homeSection id="home-section" class="section"></div>
      <ul>
        <li><a href="/header">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/service">Service</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
          <div class="account">
          <a href="/login">
            <i class="fa-regular fa-user"></i>
          </a>
      </div>
      </ul>
    </nav>
  <br>
    <h1 
    style="display: flex; justify-content: center; font-size: 18px;" 
    >ระบบออกแบบเสื้อปักสกรีนวิสัยทัศน์ 3 มิติ</h1>
    <p style="display: flex; justify-content: center; font-size: 14px;"
    >3D vision screen embroidery shirt design system</p>
  <body>
  <p>โครงงานนี้มีวัตถุประสงค์เพื่อสร้างเว็บแอปพลิเคชันการออกแบบเรียลไทม์สำหรับ
    ระบบออกแบบเสื้อผ้าสามมิติ ที่สามารถนำไปใช้งานบนเว็บได้ การพัฒนาระบบมุ่งเน้นให้ผู้ใช้งานมีความสะดวกในการเรียนรู้การออกแบบดีไซน์เพิ่มมุมมองใหม่ 
    เพื่อสร้างส่วนแสดงผลแบบอินเทอร์แอคทิฟ ผู้ใช้สามารถโต้ตอบกับระบบออกแบบสามมิติได้ทันที มีความรวดเร็วในการออกแบบเสื้อ เพิ่มการมองเห็น จากการศึกษารายละเอียด 
    และการพัฒนาเว็บแอปพลิเคชันการเขียนโปรแกรมแบบเรียลไทม์สำหรับระบบออกแบบหรือดีไซน์ ซึ่งระบบประกอบด้วย 4 ส่วนหลัก คือ ส่วนแสดงผลโมเดลสามมิติ 
    ส่วนการปรับแต่งโมเดลสามมิติ ส่วนการทำงานแบบเรียลไทม์และอินเทอร์แอคทีฟ และการรองรับการเปลี่ยนแปลงของโมเดล</p>
  </body>
  <div class="img1">
    <img src="assets/LOGO-RUTS-10.png" alt="">
</div>
<button class="scroll-button " (click)="scrollToSection4()"><i class="fa-solid fa-arrow-up-to-line">ขึ้นข้างบน</i></button>

    <div class="footer">
        <div class="footer-logo">
        <img src="assets/logo-krabi.png" alt="">
        </div>
        <div class="footer-content">
        <h3>3D vision screen embroidery shirt design system</h3>
        <p>ระบบออกแบบเสื้อปักสกรีนวิสัยทัศน์ 3 มิติ</p>
        </div>
        <div class="footer-content">
        <h3>Address</h3>
        <p>167/11 ถนน กระบี่ ตำบล ปากน้ำ อำเภอเมืองกระบี่ กระบี่ 81000</p>
        </div>
        <div class="footer-content">
        <h3>Contact</h3>
        <p>Phone: 086-279-8798</p>
        <p>Email: nattaphat.lมีแอดrmutsvmail.com</p>
        <div class="i-con">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        </div>
</div>
</div>
    