<div class="views">
    <nav class="navbar">
      <div class="navbar-logo">
        <img src="assets/logo-krabi.png" alt="Logo" />
        <span>3D vision screen embroidery shirt design system </span>
      </div>
      <ul class="navbar-menu">
        <li><a href="/header">หน้าหลัก</a></li>
        <li class="dropdown">
          <a href="#">สินค้า</a>
          <ul class="dropdown-menu">
            <li><a href="/all">ดูทั้งหมด</a></li>
            <li><a href="/tshirt_yud">เสื้อยืด</a></li>
            <li><a href="/tshirt_polo">เสื้อโปโล</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">บริการ</a>
          <ul class="dropdown-menu">
            <li><a href="hanscreen">งานสกรีน</a></li>
            <li><a href="hanpuk">งานปัก</a></li>
            <li><a href="Design">ออกแบบ</a></li>
          </ul>
        </li>
        <li><a href="#">ผลงานของเรา</a></li>
        <li><a href="#">บทความ</a></li>
        <li><a href="/about">เกี่ยวกับเรา</a></li>
        <li><a href="/contact">ติดต่อเรา</a></li>
      </ul>
      <div class="navbar-icons">
        <a href="/login"><mat-icon>account_circle</mat-icon></a>
      </div>
    </nav>
  </div>
  <body>
  <p>โครงงานนี้มีวัตถุประสงค์เพื่อสร้างเว็บแอปพลิเคชันการออกแบบเรียลไทม์สำหรับ
    ระบบออกแบบเสื้อผ้าสามมิติ ที่สามารถนำไปใช้งานบนเว็บได้ การพัฒนาระบบมุ่งเน้นให้ผู้ใช้งานมีความสะดวกในการเรียนรู้การออกแบบดีไซน์เพิ่มมุมมองใหม่ 
    เพื่อสร้างส่วนแสดงผลแบบอินเทอร์แอคทิฟ ผู้ใช้สามารถโต้ตอบกับระบบออกแบบสามมิติได้ทันที มีความรวดเร็วในการออกแบบเสื้อ เพิ่มการมองเห็น จากการศึกษารายละเอียด 
    และการพัฒนาเว็บแอปพลิเคชันการเขียนโปรแกรมแบบเรียลไทม์สำหรับระบบออกแบบหรือดีไซน์ ซึ่งระบบประกอบด้วย 4 ส่วนหลัก คือ ส่วนแสดงผลโมเดลสามมิติ 
    ส่วนการปรับแต่งโมเดลสามมิติ ส่วนการทำงานแบบเรียลไทม์และอินเทอร์แอคทีฟ และการรองรับการเปลี่ยนแปลงของโมเดล</p>
  </body>
      <div class="views">
          <footer class="footer">
              <div class="info">
              <img src="assets/logo-krabi.png" alt="">
              <p>ระบบออกแบบเสื้อปักสกรีนวิสัยทัศน์ 3 มิติ</p>
              <p>3D vision screen embroidery shirt design system</p>
              <br>
              <div class="social-media">
                  <a href="https://www.facebook.com/somsaklakphet">
                    <i class="fab fa-facebook"></i> กระบี่ซิลล์สกรีน</a>
                </div>
          </div>
              
              <div class="links">
                <div class="cardfacebook">
                  <h4>Krabisilkscreen</h4>
                  
                  <ul>
                    <li><a href="#">บัญชีของฉัน</a></li>
                    <li><a href="#">การออกแบบ</a></li>
                    <li><a href="#">งานปัก</a></li>
                    <li><a href="#">งานสกรีน</a></li>
                    <li><a href="#">บทความ</a></li>
                    <li><a href="#">เกี่ยวกับเรา</a></li>
                    <li><a href="/contact">ติดต่อเรา</a></li>
                  </ul>
                </div>
                <div>
                  <h4>สินค้า</h4>
                  <ul>
                    <li><a href="#">เสื้อยืด</a></li>
                    <li><a href="#">Polo</a></li>
                  </ul>
            </div>
              </div>
            </footer>
            </div>
  
  
  
    